<% content_for :head do %>
  <title><%=t :submit_new_organizer %> | <%=t :wineevents %></title>
<% end %>

<h1><%=t :submit_new_organizer %></h1><br/>

<%= render 'form' %>

<%= link_to t(:back), organizers_path %>

