<% content_for :head do %>
  <title> <%= @organizer.name %> | <%=t :wineorganizers %></title>
<% end %>

<div class="row">
    <div class="span9 offset0">
        <div class="well">
            <h1>
              <%= @organizer.name %>
            </h1> 
            <br/>
            <p>
              <%=t :created_by %>: <%= @organizer.user.name %>
            </p>
            <p>
              <%= @organizer.description %>
            </p>
            <br/>
            <p>
               <%=t :organizer_sitecity_id %>: <%= @organizer.sitecity.name %>
            </p>
            <p>
               <%=t :organizer_email %>: <%= @organizer.email %>
            </p>
            <p>
               <%=t :organizer_phone %>: <%= @organizer.phone %>
            </p>
            <p>
              <%=t :organizer_website %> <%= @organizer.website %>
            </p>
            <% if current_user == @organizer.user %> 
              <%= link_to t(:edit), edit_organizer_path(@organizer) %> |
            <% end %>
            <%= link_to t(:back), organizers_path %>
        </div>
    </div>
</div>