<tr>  
  <td>
    <%= event.startdatetime.strftime('%_d.%_m.%Y') %><br/>
    <%= event.startdatetime.strftime('%H:%M') %> Uhr<br/>
  </td>
  <td>
    <strong><%= link_to (event.title), event %></strong><br/>
    <%= link_to (image_tag event.image(:small)), event %> <br/>
    <%= truncate(event.description, :length => 220) %> <%= link_to 'Mehr', event %><br/><br/>
    <%= event.location %>, <%= event.street1 %>, <%= event.city %> <br/>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <% if current_user == event.user %>
	  <td><%= link_to t(:edit), edit_event_path(event) %></td>
	  <td><%= link_to t(:delete), event, method: :delete, data: { confirm: t(:sure) } %></td>
  <% end %>
</tr>