<tr>  
  <td>
    <%= l(event.startdatetime, :format => '%_d.%b') %><br/>
    <%= l(event.startdatetime, :format => '%H:%M') %>Uhr<br/>
  </td>
  <td>
    <strong><%= link_to (event.title), event %></strong> (<%= link_to (event.sitecity.name), event.sitecity %>)<br/>
    <%= truncate(event.description, :length => 220) %> <%= link_to 'Mehr', event %><br/><br/>
  </td>
  <td></td>
  <td></td>
  <% if current_user == event.user %>
	  <td><%= link_to t(:edit), edit_event_path(event) %></td>
	  <td><%= link_to t(:delete), event, method: :delete, data: { confirm: t(:sure) } %></td>
  <% end %>
</tr>