<tr itemscope itemtype='http://data-vocabulary.org/Event'>  
  <td>
      <time itemprop="startDate" datetime="<%=event.startdatetime%>"><%= l(event.startdatetime, :format => '%_d.%b') %></time><br/>
      <%= l(event.startdatetime, :format => '%H:%M') %>Uhr<br/>
  </td>
  <td>
    <strong itemprop="summary"><span itemprop="url"><%= link_to (event.title), event %></strong></span><span itemprop="location" itemscope itemtype='http://data-vocabulary.org/​Organization' itemtype='http://data-vocabulary.org/Address' itemprop="locality">(<%= link_to (event.sitecity.name), event.sitecity %>)</span><br/>
    <span itemprop="description">
      <%= truncate(event.description, :length => 220) %> <%= link_to '[mehr...]', event %><br/><br/>
    </span>
  </td>
  <td></td>
  <td></td>
  <% if current_user == event.user %>
	  <td><%= link_to t(:edit), edit_event_path(event) %></td>
	  <td><%= link_to t(:delete), event, method: :delete, data: { confirm: t(:sure) } %></td>
  <% end %>
</tr>