<%= simple_form_for(@event, html: { class: "form-horizontal"}, :remote => true) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :organizer_id, label: t(:event_organizer_id), :collection => Organizer.all(order: 'name'), hint: "#{link_to t(:new_organizer), new_organizer_path}" %>
	<%= f.input :location_id, label: t(:event_location_id), :collection => Location.all(order: 'name'), hint: "#{link_to t(:new_location), new_location_path}" %>
  <%= f.input :title, label: t(:event_title), as: :text, input_html: { rows: "1", class: "span8" } %>
	<%= f.input :description, label: t(:event_description), as: :text, input_html: { rows: "20", class: "span8" } %>
  <%= f.input :startdatetime, label: t(:event_startdatetime), input_html: { class: "span1" } %>
  <%= f.input :enddatetime, label: t(:event_enddatetime), input_html: { class: "span1" } %>
	<%= f.input :price, label: t(:event_price), as: :decimal, input_html: { rows: "1", class: "span1" } %>
	<%= f.input :website, label: t(:event_website), as: :text, input_html: { rows: "1", class: "span5" } %>
  <%= f.input :tag_list, label: t(:event_tag_list), input_html: { rows: "1", class: "span5" } %>
	<%= f.input :image, label: t(:event_image) %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
