<% if params[:tag] %>
  <% content_for :head do %>
    <title> <%= params[:tag] %> Weinevents</title>
  <% end %>
<% else %>
  <% if params[:sitecity] %>
    <% content_for :head do %>
      <% @sitecity = Sitecity.find_by_url(params[:sitecity]) %>
      <% if @events.any? %>
        <meta name="robots" content="index, follow" />
      <% else %>
        <meta name="robots" content="noindex, follow" />
      <% end %>
      <title><%=t :wineevents_in %><%= @sitecity.name %> | <%=t :winetastings_in %> <%= @sitecity.name %> | <%=t :wineseminars_in %> <%= @sitecity.name %></title>
    <% end %>    
  <% end %>
  <% if params[:location] %>
    <% content_for :head do %>
      <% @location = Location.find_by_url(params[:location]) %>
      <% if @events.any? %>
        <meta name="robots" content="index, follow" />
      <% else %>
        <meta name="robots" content="noindex, follow" />
      <% end %>
      <title><%=t :wineevents_in %><%= @location.name %> | <%=t :winetastings_in %> <%= @location.name %> | <%=t :wineseminars_in %> <%= @location.name %></title>
    <% end %>    
  <% end %>
<% end %>

<% if params[:sitecity] %>
  <h1><%=t :wineevents_in %> <%= @sitecity.name %></h1><br/> 
<% else %>
  <% if params[:tag] %>
    <h1><%= params[:tag] %> <%=t :wineevents %></h1><br/> 
  <% else %>
    <h1><%=t :latest_wineevents %></h1><br/>
  <% end %>
<% end %> 

<div class="row">
  <div class="span8">

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @events.current %>
      </tbody>

    </table>

    <br />

    <%= will_paginate @events.current %><br />



    <% if params[:sitecity] %>
      <h3><%=t :past_wineevents_in %><%= @sitecity.name %></h3><br/> 
    <% else %>
      <% if params[:tag] %>
        <h3><%=t :past_f_p %> <%= params[:tag] %> <%=t :wineevents %></h3><br/> 
      <% else %>
        <h3><%=t :past_wineevents %></h3><br/>
      <% end %>
    <% end %> 

    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @events.past %>
      </tbody>

    </table>

    <br />

    <%= will_paginate @events.past %><br />

    <% if params[:sitecity] %>
      <h3><%=t :event_locations_in %> <%= @sitecity.name %></h3><br/> 

      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @sitecity.locations %>
        </tbody>

      </table>
      <br />

    <% end %> 

  </div>

  <div class="span1">
  </div>

  <div class="span3">
    <%= link_to t(:add_new_event), new_event_path, class: "btn btn-large btn-primary" %>
    <br /><br />

    <div id="tag_cloud">
      <h2>Tags</h2>
      <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>

</div>





<% unless user_signed_in? %>
  <% if params[:sitecity] %>
  <% else %>
    <%= render 'pages/home' %>
  <% end %>
<% end %>