<% if params[:tag] %>
  <% content_for :head do %>
    <title> TAG Weinevents</title>
  <% end %>
<% else %>
  <% if params[:sitecity] %>
    <% content_for :head do %>
      <% @sitecity = Sitecity.find_by_url(params[:sitecity]) %>
      <title>Weinevents in <%= @sitecity.name %> | Weinproben in <%= @sitecity.name %> | Weinseminare in <%= @sitecity.name %></title>
    <% end %>    
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if params[:sitecity] %>
    <h1>Weinevents in <%= @sitecity.name %></h1> 
  <% else %>
    <h1>The latest wine events</h1>
  <% end %> 
<% else %>
  <%= render 'pages/home' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>

</table>

<br />

<%= will_paginate @events %>

<div id="tag_cloud">
  <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
