<% if params[:tag] %>
  <% content_for :head do %>
    <title> <%= params[:tag] %> <%=t :wineevents %></title>
    <meta name="keywords" content="<%= params[:tag] %> <%=t :wineevents %>, <%= params[:tag] %> <%=t :winetastings %>, <%= params[:tag] %> <%=t :wineseminars %>" />
    <meta name="description" content="<%=t :events_index_tag_meta_desc %> <%= params[:tag] %>" />
  <% end %>
<% else %>
  <% if params[:sitecity] %>
    <% content_for :head do %>
      <% @sitecity = Sitecity.find_by_url(params[:sitecity]) %>
      <title><%=t :wineevents_in %><%= @sitecity.name %> | <%=t :winetastings_in %> <%= @sitecity.name %> | <%=t :wineseminars_in %> <%= @sitecity.name %></title>
      <% if @events.any? %>
        <meta name="robots" content="index, follow" />
      <% else %>
        <meta name="robots" content="noindex, follow" />
      <% end %>
      <meta name="keywords" content="<%=t :wineevents_in %><%= @sitecity.name %>, <%=t :winetastings_in %> <%= @sitecity.name %>, <%=t :wineseminars_in %> <%= @sitecity.name %>" />
      <meta name="description" content="<%=t :events_index_sitecity_meta_desc_1 %> <%= @sitecity.name %><%=t :events_index_sitecity_meta_desc_2 %> <%= @sitecity.name %>"  />
    <% end %>    
  <% end %>
  <% if params[:location] %>
    <% content_for :head do %>
      <% @location = Location.find_by_url(params[:location]) %>
      <title><%=t :wineevents_in %><%= @location.name %> | <%=t :winetastings_in %> <%= @location.name %> | <%=t :wineseminars_in %> <%= @location.name %></title>
      <% if @events.any? %>
        <meta name="robots" content="index, follow" />
      <% else %>
        <meta name="robots" content="noindex, follow" />
      <% end %>
      <meta name="keywords" content="<%=t :wineevents_in %><%= @location.name %>, <%=t :winetastings_in %> <%= @location.name %>, <%=t :wineseminars_in %> <%= @location.name %>" />
      <meta name="description" content="<%=t :events_index_location_meta_desc %> <%= @location.name %>" />
    <% end %>    
  <% end %>
<% end %>

<% if params[:sitecity] %>
  <h1><%=t :wineevents_in %> <%= @sitecity.name %></h1><br/> 
<% else %>
  <% if params[:tag] %>
    <h1><%= params[:tag] %> <%=t :wineevents %></h1><br/> 
  <% else %>
    <h1><%=t :latest_wineevents %></h1>
  <% end %>
<% end %> 

<div class="row">
  <div class="span8">

    <table class="table table-striped">

      <tbody>
        <%= render @events.current %>
      </tbody>

    </table>

    <br />

    <%= will_paginate @events.current %><br />



    <% if params[:sitecity] %>
      <h3><%=t :past_wineevents_in %><%= @sitecity.name %></h3>
    <% else %>
      <% if params[:tag] %>
        <h3><%=t :past_f_p %> <%= params[:tag] %> <%=t :wineevents %></h3>
      <% else %>
        <h3><%=t :past_wineevents %></h3>
      <% end %>
    <% end %> 

    <table class="table table-striped">

      <tbody>
        <%= render @events.past %>
      </tbody>

    </table>

    <br />

    <%= will_paginate @events.past %><br />

    <% if params[:sitecity] %>
      <h3><%=t :event_locations_in %> <%= @sitecity.name %></h3><br/> 

      <table class="table table-striped">

        <tbody>
          <%= render @sitecity.locations %>
        </tbody>

      </table>
      <br />

      <h3><%=t :event_organizers_in %> <%= @sitecity.name %></h3><br/> 

      <table class="table table-striped">

        <tbody>
          <%= render @sitecity.organizers %>
        </tbody>

      </table>
      <br />

    <% end %> 

  </div>

  <div class="span1">
  </div>

  <div class="span3">
    <%= link_to t(:add_new_event), new_event_path, class: "btn btn-large btn-primary" %>
    <br /><br />

    <div class="tag_cloud">
      <h2>Tags</h2>
      <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
      <br/><br/>
    </div>

    <h2><%=t :sitecity_picker %></h2>

    <ul class="nav nav-pills">
      <li class="dropdown">
      <a class="dropdown-toggle"
          data-toggle="dropdown"
          href="#">
          <%=t :select %>
          <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <% Sitecity.has_event.each do |sitecity| %>
        <li><%= link_to sitecity.name, sitecity %></li>
      <%end%>
    </ul>

  </div>

</div>





<% unless user_signed_in? %>
  <% if params[:sitecity] %>
  <% else %>
    <%= render 'pages/home' %>
  <% end %>
<% end %>