<% content_for :head do %>
  <title> <%= @event.title %> | Weinevents</title>
<% end %>

<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <h1>
              <%= @event.title %>
            </h1>
            <p>
  						<%= @event.description %>
						</p>
            <p>
              <% if @event.price == nil %>
              <% else %>
                Price in EUR: <%= @event.price %>
              <% end %>
            </p>
            <p>
  						Submitted by <%= @event.user.name %>
						</p>
            <p>
              Find more information <%= link_to 'here.', @event.website %>
            </p>
						<%= image_tag @event.image %>
            <br/><br/>
						<% if current_user == @event.user %> 
							<%= link_to 'Edit', edit_event_path(@event) %> |
						<% end %>
						<%= link_to 'Back', events_path %>
        </div>
    </div>
</div>