<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
  						<%= @event.description %>
						</p>
            <p>
  						<%= @event.user.name %>
						</p>
						<%= image_tag @event.image %>
						<% if current_user == @event.user %> 
							<%= link_to 'Edit', edit_event_path(@event) %> |
						<% end %>
						<%= link_to 'Back', events_path %>
        </div>
    </div>
</div>