<% content_for :head do %>
  <title> <%= @event.title %> | <%=t :wineevents %></title>
<% end %>

<div class="row">
    <div class="span9 offset0", itemscope itemtype='http://data-vocabulary.org/Event'>
          <h1 itemprop="summary"><%= @event.title %></h1>
          
          <% if @event.startdatetime.to_date === @event.enddatetime.to_date %>
            <p>
              <%= l(@event.startdatetime, :format => '%_d. %B %Y (%a)') %> <%=t :from %> <%= l(@event.startdatetime, :format =>'%H:%M')%> <%=t :to %> <%= l(@event.enddatetime, :format =>'%H:%M')%> Uhr<br/>
            </p>
          <% else %>
            <p>
              <time itemprop="startDate"><%= l(@event.startdatetime, :format =>'%_d. %B %Y (%a)') %></time> <%=t :at %> <%= l(@event.startdatetime, :format =>'%H:%M')%> Uhr <%=t :to %><br/>
              <time itemprop="endDate"><%= l(@event.enddatetime, :format => '%_d. %B %Y (%a)') %></time> <%=t :at %> <%= l(@event.enddatetime, :format => '%H:%M')%> Uhr  <br/>
            </p>
          <% end %>
          <p>
            <% if @event.price == nil %>
            <% else %>
              <%=t :event_price %>: <span itemprop="Price"><%= number_with_precision(@event.price, :precision => 2) %></span> <span itemprop="currency" content="EUR" />EUR
            <% end %>
          </p>
          <br/>
          <p itemprop="location" itemscope itemtype='http://data-vocabulary.org/​Organization'>
            <strong itemprop="name">
              <%= @event.location.name %>
            </strong><br/>
            <span itemprop="address" itemscope itemtype='http://data-vocabulary.org/Address'>
              <span itemprop="street-address"><%= @event.location.street1 %></span><br/>
              <%= @event.location.postalcode %> <span itemprop="locality"><%= @event.location.city %></span><br/>
            </span>
            <%= @event.location.phone %><br/>
            <%= @event.location.email %><br/>
          </p>
          <br/>
          <h4> 
            <%=t :event_details %>
            <% if current_user == @event.user %> 
              <%= link_to t(:edit), edit_event_path(@event) %><br/>
            <% end %>
          </h4>
          <p>
            Tags: <%= raw @event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </p>
          <p itemprop="description">
            <%= simple_format h @event.description %>
          </p>
          <br/>
          <% if @event.website? %>
            <p>
              <%=t :location_website %>: <%= link_to @event.website, @event.website %>
            </p>
            <br/>
          <% end %>
          <% if @event.image? %>
  					<span itemprop="photo">
              <%= image_tag @event.image, size: "150x100" %>
            </span>
            <br/><br/>
          <% end %>
          <h4> 
            <%=t :location_details %>
            <% if current_user == @event.location.user %> 
              <%= link_to t(:edit), edit_location_path(@event.location) %><br/>
            <% end %>
          </h4> 
          <p>
            <%= simple_format h @event.location.description %>
          </p>
          <br/>
          <h4> <%=t :location_map %> </h4>
          <p>
              <%= gmaps4rails(@json) %>
          </p>
					<%= link_to t(:back), events_path %>
    </div>
</div>