<% content_for :head do %>
  <title> <%=t :about_wineevents %> | <%=t :wineevents %></title>
<% end %>

<h1><%=t :about_wineevents %></h1>
<br/>
<p>
  <%= link_to t(:wineevents), root_path %>
  <%=t :makes_it_easy %> 
</p>
<br/> <br/>
<%=t :here_you_find %><br/><br/>
<ul>
<li><%=t :winetastings %></li>
<li><%=t :wineseminars %></li>
<li><%=t :winefests %></li>
<li><%=t :wineparties %></li>
</ul>

