<h1><%=t :sitecities_index_title %></h1><br/>


<h2> <%=t :cities_germany %> </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sitecities.germany.has_event %>
  </tbody>

</table>

<br />




<h2> <%=t :cities_austria %> </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sitecities.austria.has_event %>
  </tbody>

</table>

<br />



<h2> <%=t :cities_switzerland %> </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sitecities.switzerland.has_event %>
  </tbody>

</table>

<br />





<%= link_to t(:new_sitecity), new_sitecity_path %>