<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>Weinevents | Weinproben, Weinfeste, Weinparties und andere Weinevents</title>
      <meta name="keywords" content="<%=t :wineevents %>, <%=t :winetastings %>, <%=t :wineseminars %>" />
      <meta name="description" content="<%=t :events_index_meta_desc %>" />
    <% end %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

    <%= render 'layouts/gtagmanager' %>    

    <%= render 'layouts/header' %>
    <div class="container">
    	<% flash.each do |name, msg| %>
                    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
